<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon.png"
    />
    <link rel="stylesheet" href="styles/home.css" />
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="/js/firebaselogin.js"></script>
    <script src="/js/logout.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
      .content-button {
  display: inline-block;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 17px 35px;
  font-size: 18px;
  /*line-height: 1;*/
  border-radius: 50px;
  color: #000000;
  cursor: pointer;
  transition: all .4s ease-in-out;
  border: 2px solid transparent;
  border-color: black;
  background: #fafafa;
  overflow: hidden;
}

.content-button:hover {
  color: #fff;
}

    </style>
  </head>

  <body>
    <!-- Dark-Light Mode button -->
     
    <div class="dark-light">
    </div>
    <div class="app">
      <!-- Header Division -->
      <div class="header">
        
        <div class="header-menu">
          <a class="menu-link is-active" href="#">Home</a>
        </div>
        <div class="header-profile">
          <button
            class="content-button"
            onclick="LogoutUser()"
            style="
              padding: auto;
              font-size: 20px;
              margin-top: 0;
              padding: 6px 24px;
            "
          >
            Signout
          </button>
          <img class="profile-img" id="profile-img" src="/assets/images/user.png" alt="" />
        </div>
      </div>
      <div class="wrapper">
        <!-- Left side Wrapper -->
        <div class="left-side">
          <div class="side-wrapper">
            <div class="side-title">User Details</div>
            <div class="side-menu1">
              <a id="username">Loading...</a>
              <a id="useremail">Loading...</a>
            </div>
            <div class="">              
              <div class="app-card-buttons">
                <button class="content-button status-button1">
                  Create Your Room
                </button>
              </div>
            </div>
            <div class="">
              <div class="app-card-buttons">
                <button class="content-button status-button2">Join Room with Key</button>
              </div>
            </div>
          </div>
          
        </div>
        <div class="main-container">
          <div class="main-header">
            <a class="menu-link-main" href="#">Your Dashboard</a>
          </div>
          <div class="content-wrapper">
            <div class="content-wrapper-header">
              <div class="content-wrapper-context">

                <!-- All popups -->
                <!-- Popups are grouped with actions so as to keep the order same -->

                <!-- Schedule Meet -->
                <div class="pop-up">
                  <div class="pop-up__title">
                    Schedule Meeting
                    <svg
                      class="close"
                      width="24"
                      height="24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-x-circle"
                    >
                      <circle cx="12" cy="12" r="10" />
                      <path d="M15 9l-6 6M9 9l6 6" />
                    </svg>
                  </div>
                  <div class="pop-up__subtitle">
                    Google Calendar Meeting Scheduler
                  </div>
                  <label for="startday">Select start Date</label>
                  <input type="datetime-local" id="startday" /><br />
                  <label for="enddate">Select end Date</label>
                  <input type="datetime-local" id="endday" /><br />
                  <label>Enter meeting summary</label>
                  <input type="text" id="summary" /><br />
                  <div class="form-group">
                    <label for="emails">Emails</label> <br />
                    <input
                      type="text"
                      style="width: 100%"
                      class="form-control"
                      id="emails"
                      placeholder="Separate emails by comma"
                    />
                  </div>
                  <div class="content-button-wrapper">
                    <br />
                    <button
                      class="content-button status-button"
                      type="button"
                      onclick="SendSchedule()"
                      id="submit"
                    >
                      Submit
                    </button>
                  </div>
                  <p style="text-align: center; color: azure" id="status"></p>
                </div>

                <!-- Create room -->
                <div class="pop-up1">
                  <div class="pop-up1__title">
                    Create Room
                    <svg
                      class="close1"
                      width="24"
                      height="24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-x-circle"
                    >
                      <circle cx="12" cy="12" r="10" />
                      <path d="M15 9l-6 6M9 9l6 6" />
                    </svg>
                  </div>
                  <div class="pop-up1__subtitle">
                    Enter the chat and Invite people
                 <br>
                  <label for="room-name">Enter room name</label>
                </div><input
                    type="text"
                    id="room-name"
                    placeholder="Optional (Recommended)"
                    class="styled-input"
                  /><br />

                  <div class="content-button-wrapper">
                    <br />
                    <button
                      class="content-button status-button1"
                      onclick="createRoom()"
                      type="button"
                      id="submitRoomName"
                      style="margin: auto"
                    >
                      Create Room
                    </button>
                    <button
                      class="content-button status-button1"
                      type="button"
                      id="enter-room"
                      style="margin: auto; display: none"
                    >
                      Enter Room
                    </button>
                    <p
                      style="
                        text-align: center;
                        color: azure;
                        display: none;
                        border-radius: 999em;
                      "
                      id="room-id"
                    >
                    <button
                    id="copy-room-id"
                    class="copy-button"
                  >
                    <i class="fas fa-copy"></i>  
                    <link
                      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
                      rel="stylesheet"
                    />

                  </button>
                  
                    </p>
                  </div>
                </div>
                <!-- Join Room -->
                <div class="pop-up2">
                  <div class="pop-up1__title">
                    Join Room
                    <svg
                      class="close2"
                      width="24"
                      height="24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-x-circle"
                    >
                      <circle cx="12" cy="12" r="10" />
                      <path d="M15 9l-6 6M9 9l6 6" />
                    </svg>
                  </div>

                  <!-- Join meet here -->
                  <div class="pop-up1__subtitle">Enter the chat or Room ID<br>
                  <label for="meeting-id">Enter room ID</label></div>
                  <input type="text" id="meeting-id" class="styled-input"/><br />
                  <div class="content-button-wrapper">
                    <button
                      class="content-button status-button2"
                      onclick="joinMeet()"
                      type="button"
                      id="submitRoomName"
                      
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>

              
            </div>
            <div class="content-section">
              <div class="content-section-title"></div>
              <div class="apps-card">
                
                </div>
                <div class="side-wrapper">
                  <div class="side-title">My Rooms</div>
                  <div class="side-menu" id="user-rooms">Loading...</div>
                  <div class="side-title">Recent rooms</div>
                  <div class="side-menu" id="last-rooms">Loading...</div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="/assets/images/clock.gif" alt="Clock" class="bottom-right-image">
  </body>
  <script src="/js/home.js" defer></script>
</html>
