<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>FocusPocus</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon.png"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap-5.0.0-beta2.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
      * {
        box-sizing: border-box;
      }
      .column {
        float: centre;
        width: 50%;
        padding: 100px;
        
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->
    <!-- ========================= hero-section start ========================= -->
    
      <div class="row">
        <div class="column">
          <div class="container">
            <div class="row align-items-center">
              <div class="">
                <div class="hero-content">
                  <img src="/assets/images/noun-pixel-6161955.png" alt="FocusPocus" style="width:100px;height:100px;">
                  <h1>focus pocus</h1>
                  <br><br>
                  <p>spellbound to boost your productivity</p>
                </div>
              </div>
              <div><br><br><br></div>
              <div class="header-btn">
                <button id="login-btn" class="main-btn btn-hover">
                  Loading...
                </button>
              </div>
              <div class="">
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <img src="/assets/images/study.webp" alt="FocusPocus" style="width:500px;height:500px;">
        </div>
    </div>
 

    
    <!-- ========================= hero-section end ========================= -->

    <!-- ========================= JS here ========================= -->
    <script src="/assets/js/bootstrap-5.0.0-beta2.min.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/polyfill.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="/js/firebaselogin.js"></script>
    <script src="/js/landing.js" defer></script>
  </body>
</html>
